header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  width: 100%;
  height: 600px;
  background-image: url('https://source.unsplash.com/collection/590961/1200x900/');
  background-repeat: no-repeat;
  background-size: cover;
}
.contain {

  position: absolute;
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}
.box {
  
  backdrop-filter: blur(5px) brightness(0.97);
  text-align: center;
  border: 1px solid transparent;
  border-image: linear-gradient(to top, transparent , white);
  border-image-slice: 1;
  overflow: hidden;
}
h2.project-tagline.desc {
    margin: 10px;
}
ul {
    justify-content: center;
    box-shadow: 0 0 25px rgb(0 0 0 / 41%);
    height: fit-content;
    background: #ffffff87;
    backdrop-filter: blur(4px) brightness(1.05);
    width: 100%;
    top: 0px;
    position: sticky;
    margin: 0;
    padding: 0;
    display: block;
}
ul li {
    display: flex;
    justify-content: center;
    height: auto;
    position: relative;
    float: left;
    padding: unset;
    }

ul div a {
    vertical-align: middle;
    margin: 0;
    text-decoration: none;
    font-size: large;
    padding: 8px;
    font-family: inherit;
    text-align: center;
    position: relative;
}
ul.fixed {
    position:fixed
}
ul a:hover {
    text-decoration: none;
    color: black;
    }
ul li:hover {
    background: #80808017
}
body::-webkit-scrollbar {
    width: 0.6em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  outline: 1px solid slategrey;
}


.progress-bar-container {
    width: 100%;
    height: 3px;
    background: #e6e6e6a6;
    position: relative;
}


.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
}

.progress-bar {
    width: 0%;
    background: #206db9;
    height: 100%;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    text-align: center;
    margin-top: 0.6rem;
    padding-top: 0.6rem;
}

.main-content h2 {
    border-top: solid 1px #eff0f1;
    margin-top: 3rem;
    padding-top: 3rem;
}

.main-content :first-child {
    padding-top: 0;
    border-top: 0;
}
.main-content [alt="Image of Me"] {
    max-width: 40%;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(0 0 0 / 11%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main-content img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.main-content li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: disc;
    font-size: 1.1rem;
    float: inherit;
    line-height: 1.5;
    color: #606c71;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align-last: start !important;
}

.main-content ul {
    box-shadow: none;
    display: block;
    padding-left: 2rem;
    position: relative;
    z-index: -1;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
